[Unit]
Description=Asterisk Container
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name mysql_container test_mysql
ExecStop=/usr/bin/docker stop mysql_container

[Install]
WantedBy=multi-user.target
